.login-page{
    display: flex;
    justify-content: center;
}

.login-container{
    margin-top: 2rem;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ff7e71;
    border-radius: 5px;
}

.secondary-color{
    background-color: var(--white-text-color);
}

.margin-bottom{
    margin-bottom: 1rem;
}

.login-elements{
    display: flex;
    width: 23.5rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.element-checkbox{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#checkbox{
    width: 1rem;
    height: 1rem;
}

.btn.primary-btn{
    font-size: 1rem;
    width: 23.5rem;
    margin-bottom: 1rem;
}
.forgot-pass{
    color: var(--facebook-blue);
}

.greater-than-anchor{
    color: var(--facebook-blue);
}
.greater-than{
    padding-left: 0.5rem;
    font-size: 1.25rem;
}

.login-title{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.loginpass-icon{
    position: absolute;
    right: 37rem;
    top: 21.7rem;
}