.cart-badge {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    top: 1.563rem;
    right: 5.25rem;
    justify-content: center;
    font-size: 0.625rem;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
  
  .wishlist-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .doc-wishlist{
      align-items: center;
  }
  .doc-wishlist h1{
      color: var(--black-text);
      padding-bottom: 2rem;
  }

  .empty_wishlist_img img{
    width: 20rem;
    height: 20rem;
  }

  .wishlist-msg{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
  }
  