.sidebar {
    padding-left: 2rem;
    width: 15vw;
    gap: 2rem;
    color: var(--black-text);
  }
  
  .container-one,
  .range-amount {
    justify-content: space-between;
    align-items: center;
  }
  
  .container-two input {
    width: 100%;
  }
  .container-two {
    gap: 1rem;
  }
  .container-three,
  .container-four,
  .input-container {
    gap: 0.5rem;
  }
  .container-three input {
    width: 1rem;
    height: 1rem;
  }
  .product-cards {
    margin-left: 2rem;
    width: 85vw;
  }
  
  .cards img {
    width: 15.625rem;
    height: 15.625rem;
  }
  .cards {
    margin: 1rem;
    height: max-content;
    color: var(--black-text);
  }
  .btn-card.vertical-card {
    width: 15.625rem;
  }
  .product-cards {
    flex-wrap: wrap;
  }
  
  .buttons_icons {
    gap: 0.625rem;
  }
  
  .bg-none {
    background-color: transparent;
    color: var(--black-text);
    border: 1px solid;
  }
  